{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
  <div class="card mx-auto">
    <div class="card-header">
      <h4 class="card-title">Manage Users</h4>
    </div>
    <div class="card-body">
	    <p><a href="{{ url_for('auth.register') }}">Add User</a></p>
            <table id="tblku" class="table table-bordered table-hover">
                <tr>
                    <td>Username</td>
                    <td>Superadmin</td>
		    <td>Created Date</td>
		    <td>Active</td>
                    <td>Action</td>
                </tr>
                {% for u in users %}
                <tr>
                    <td>{{ u.username }}</td>
		    <td>{% if u.is_superadmin == True %}Yes{% else %}No{% endif %}</td>
		    <td>{{ u.created_at }}</td>
		    <td><a href="{{ url_for('auth.toggle_user', user_id=u.id) }}">{% if u.is_active == True %}Yes{% else %}No{% endif %}</a></td>
		    <td><a href="{{ url_for('auth.edit_user', user_id=u.id) }}">Edit</a></td>
                </tr>
                {% endfor %}
	    </table>
    </div>
  </div>
</div>
{% endblock %}
