{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
  <div class="card  mx-auto">
    <div class="card-header">
      <h4 class="card-title">Manage Paket Inets</h4>
    </div>
    <div class="card-body">
	    <p><a href="{{ url_for('sitekost.add_paketinet') }}">Add Paket Inet</a></p>
            <table id="tblku" class="table table-bordered table-hover">
                <tr>
                    <td>Name</td>
		    <td>Admin by</td>
		    <td>Bandwidth (Mbps)</td>
		    <td>Simultaneous Devices</td>
		    <td>Autorenew (days)</td>
                    <td >Action</td>
                </tr>
                {% for s in pakets %}
                <tr>
                    <td>{{ s.name }}</td>
		    <td>{{ s.username }}</td>
		    <td>{{ s.bw_mbps}}</td>
		    <td>{{ s.num_devices }}</td>
		    <td>{{ s.renewal_days }}</td>
		    <td><a href="{{ url_for('sitekost.edit_paketinet',pak_id=s.id) }}">Edit</a></td>
                </tr>
                {% endfor %}
	    </table>
    </div>
  </div>
</div>
{% endblock %}
