{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
  <div class="card w-50 mx-auto">
    <div class="card-header">
      <h4 class="card-title">Manage Sites</h4>
    </div>
    <div class="card-body">
	    <p><a href="{{ url_for('sitekost.add_site') }}">Add Site</a></p>
            <table id="tblku" class="table table-bordered table-hover">
                <tr>
                    <td>RADIUS Loc ID</td>
		    <td>RADIUS NAS Address</td>
		    <td>RADIUS Secret</td>
                    <td>Admin by</td>
                    <td colspan="2">Action</td>
                </tr>
                {% for s in sites %}
                <tr>
                    <td>{{ s.location_id }}</td>
		    <td>{{ s.nas_ipaddress }}</td>
		    <td>{{ s.nas_secret }}</td>
		    <td>{{ s.username }}</td>
		    <td><a href="{{ url_for('sitekost.edit_site',site_id=s.id) }}">Edit</a></td>
		    <td><a href="{{ url_for('sitekost.toggle_site',site_id=s.id) }}">{% if s.is_active == True %}Disable Site{% else %}Enable Site{% endif %}</a></td>
                </tr>
                {% endfor %}
	    </table>
    </div>
  </div>
</div>
{% endblock %}
