{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
  <div class="card w-50 mx-auto">
    <div class="card-header">
      <h4 class="card-title">Register</h4>
    </div>
    <div class="card-body">
      <form class="form" role="form" action="{{ url_for('sitekost.add_hslogin') }}" method="post">
        <div class="form-group">
          {{form.username.label}}
          {{form.username(class='form-control')}}
          {% for error in form.errors.username %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
        </div>
        <div class="form-group">
          {{form.plain_password.label}}
          {{form.plain_password(class='form-control')}}
          {% for error in form.errors.plain_password %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
        </div>
        <div class="form-group">
          {{form.site_id.label}}
          {{form.site_id(class='form-control')}}
          {% for error in form.errors.site_id %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
        </div>
        <div class="form-group">
          {{form.group_id.label}}
          {{form.group_id(class='form-control')}}
          {% for error in form.errors.group_id %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
        </div>
        <div class="form-group">
          {{form.is_autorenew.label}}
          {{form.is_autorenew(class='form-control')}}
          {% for error in form.errors.is_autorenew %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
        </div>
        {{form.submit(class='btn btn-primary')}}
      </form>
    </div>
  </div>
</div>
{% endblock %}
